//변수
$font-title: 32px;
$font-lg: 24px;
$font-md: 18px;
$font-sm: 14px;

$yellow: #fff4be;
$green : #a3b8a7;

//fontfamily
$font1 :'canela';
$font2 : 'canela-italic';
$font3 : 'founders';
$font4 : 'interal';

/* 반응형 사이즈 */
$mobile:767px;
$mobile640:640px;
$mobile360:360px;
$pc-min:1200px;

/* mixin */
@mixin media($size) {
    @media screen and (max-width:$size) {
        @content;
    }
}

//keyframes

@keyframes move {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }

}

@keyframes move2 {
    0% {
        transform: rotate(360deg);

    }

    100% {
        transform: rotate(0deg);

    }

}

// scroll down keyframes


@keyframes arrow-down {
    0% {
        transform: rotate(0deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(0deg) translate(0, 20px);
        opacity: 0;
    }
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: #4d5f75;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke:#4d5f75;
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: #4d5f75;
        stroke-width: 3;
    }

    100% {
        fill: #4d5f75;
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}
@keyframes rotateS {
    50% {
        transform: rotate(360deg);
        background-size: calc(90% - 15px) 15px, 100% 30px, auto;
        background-position: -25px 22px, top, 0 0;
    }

    100% {
        transform: rotate(720deg);
    }
}


@keyframes rotateE {

    30%,
    70% {
        transform: rotate(calc(var(--o, 0deg) - 180deg));
    }
}




body {
    background-color: $yellow;
}

.center {
    width: 1200px;
    margin: auto;
    

}


/* loader */
.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $yellow;
    z-index: 2;
    overflow: hidden;

    marquee {
        opacity: 0.2;
        text-transform: uppercase;
        line-height: 180px;
        margin: 0;
        padding: 0;
        color: #646464;
        font-size: 200px;
        font-family: $font2;

        @include media($mobile) {
            font-size: 150px;
        }

    }

    .intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            font-size: 124px;
            text-transform: uppercase;
            font-weight: 200;
            color: #fff;
            font-family: $font2;
            @include media($mobile) {
                font-size: 100px;
            }

        }
    }

}
/* navbar */

#navbar {
    background: transparent;
    width: 100%;
    height: 50px;
    z-index: 100;
    position: fixed;
    min-width: $pc-min;
    @include media($mobile){
        min-width: 100%;

    }
    

    .center {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        margin: 0 auto;
        @include media($mobile) {
            width: 100%;
        }

        .navbar__logo {
            position: relative;
            height: 50px;
            width: 160px;
            

            h1 {
                a {
                    font-size: $font-md;
                    font-family: $font1;
                    @include media($mobile) {
                        font-size: $font-sm;
                    }

                }
            }

            img {
                width: 70px;
                height: 70px;
                position: absolute;
                top: -30px;
                right: -50px;
                @include media($mobile) {
                   display: none;
                }
            }
        }

        .navbar__menu {
            ul {
                display: flex;
                justify-content: space-between;
                font-family: $font1;

                li {
                    font-size: $font-sm;
                    margin-left: 10px;
                    box-sizing: border-box;
                    @include media($mobile) {
                        margin-left: 0;
                        padding-left: 5px;
                        font-size: 13px;
                    }
                }
            }

        }

    }

}

/* container */

/*  home */

#home {
    width: 100%;
    height: 100vh;
    position: relative;
    @include media($mobile) {
        width: 100%;
        height: 600px;

    }
    .center{
        @include media($mobile){
            width: 100%;
            
        }
    }


    // .blocks{
    //     display: flex;
    //     font-size: 140px;
    //     color: #8d785b;
    //     position: absolute;
    // }

    .home__top {
        width: 100%;
        height: 50%;
        background: $yellow;
        min-width: $pc-min;
        @include media($mobile){
            min-width: 100%;
        }
       
    }

    .home__container {
        position: absolute;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
            position: relative;

            @include media($mobile){
                margin-top: 50px;
                width: 250px;
                height: 250px;
            }
           

            background: {
                color: black;
                image: url(../imgs/profile.jpeg);
                position: 30% 10%;
                size: 120% 130%;

            }
            >div{
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 border: 2px solid #e2f5e5;
                 border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
                  transition: 0.5s;

            }

            .c1 {
               
                animation: move 6s linear infinite;


            }

            .c2 {
               
                
                animation: move2 4s linear infinite;

            }

            .c3 {
               
                animation: move2 10s linear infinite;

            }

        }

        .home__title {
            margin-top: 50px;
            font-size: $font-title;
            font-family: $font2;
         @include media($mobile) {
             font-size: $font-lg;
         }

        }

        .home__description {
            margin-top: 10px;
            font-size: $font-md;
            font-weight: lighter;
            color: rgb(94, 93, 93);
            @include media($mobile) {
                font-size: $font-sm;
            }

        }

        .home__contact {

            a {
                transition: all 0.3s ease;
                position: relative;

                span {
                    font-family: $font3;
                    font-weight: 300;
                    color: #fff;
                    font-size: 36px;
                    text-transform: uppercase;
                    pointer-events: none;
                    transition: transform 0.1s linear;
                }

                &:hover~.cursor {
                    transform: translate(-50%, -50%) scale(8);
                }
            }

            .cursor {
                pointer-events: none;
                position: absolute;
                padding: 0.3rem;
                background-color: #fff;
                border-radius: 50%;
                mix-blend-mode: difference;
                transition: transfrom 0.3s ease;

            }

        }
    }

    .home__bottom {
        width: 100%;
        height: 50%;
        background: $green;
        min-width: $pc-min;
        @include media($mobile) {
            min-width: 100%;
            height: 40%;
        
        }
    }
}

/* skills */

#skill {
    text-align: center;
    background: $yellow;
    @include media($mobile) {
        width: 100%;
        
    }


    .skill__title {
        font-family: $font2;
        font-size: 40px;
        padding: 50px 0;
        color: #444;
        position: relative;


        &::after{
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: #444;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            

        }

    }
.center{
    @include media($mobile) {
        width: 100%;
    }
}
    .skillWrap {
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 80px;
        @include media($mobile) {
            width: 100%;
            height: 900px;
            padding: 0;
        }


        li {
            width: 30%;
            margin: 1.5%;
            @include media($mobile) {
                width: 45%;
                height: 35%;
            }

            a {
                display: block;
                margin: auto;
                width: 100px;
                height: 100px;
                margin-bottom: 30px;
                border-radius: 50%;
                background: #a5c9c1;
                // /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#92fe9d+0,f1f2b5+100 */
                // background: #92fe9d;
                // /* Old browsers */
                // background: -moz-linear-gradient(-45deg, #92fe9d 0%, #f1f2b5 100%);
                // /* FF3.6-15 */
                // background: -webkit-linear-gradient(-45deg, #92fe9d 0%, #f1f2b5 100%);
                // /* Chrome10-25,Safari5.1-6 */
                // background: linear-gradient(135deg, #92fe9d 0%, #f1f2b5 100%);
                // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92fe9d', endColorstr='#f1f2b5', GradientType=1);
                // /* IE6-9 fallback on horizontal gradient */

                font-size: 40px;
                color: rgb(213, 255, 242);
                line-height: 100px;
               



            }

            h3 {
                font-size: $font-md;
                margin-bottom: 20px;
                @include media($mobile) {
                    font-size: $font-sm;
                }
            }

            .graph {
                margin: 0 auto;
                width: 180px;
                height: 20px;
                border-radius: 30px;
                background-color: $green;
                position: relative;
                @include media($mobile){
                    width: 150px;
                }
                 @include media($mobile640) {
                     width: 120px;
                 }
                >div{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    background-color: #afecdf;
                }
                .html{
                    width: 90%;
                }
                .css{
                    width: 90%;
                }
                .js{
                    width: 70%;
                }
                .react{
                    width: 60%;
                }
                .vue{
                    width: 50%;
                }
                .etc{
                    width: 70%;
                }


            }
            .discription{
                margin: 10px auto;
                width: 50%;
                text-align: left;
                 
                @include media($mobile){
                    width: 100%;
                }
            }

        }
    }



}

/* projects */
#projects {
    background: #fff4be;
    width: 100%;
    min-width: $pc-min;
    @include media($mobile) {
        min-width: 100%;
     
    }

    .center {
        overflow-x: hidden;
        padding-top: 100px;

    }

    .projectWrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 500%;
        padding-top: 100px;
        background: rgb(163, 184, 167, 0.3);



        >div {
            width: 20%;
            height: 600px;
            position: relative;
            @extend %project;
           


        }

        .project1 {

            .scroll-down {
                padding-top: 30px;
                margin: 0 auto;
                width: 20px;
                height: 20px;
                text-align: center;
                animation: arrow-down 2s linear infinite;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

        }



    }

    %project {
        .project__img {
            width: 400px;
            height: 500px;
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%) rotate(-5deg);


            img {
                display: block;
                width: 100%;
                height: 100%;
            }


        }

        .project__description {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .right {
                .order {
                    font-size: 110px;
                    color: $green;
                }

                .project__title {
                    font-family: $font4;
                    font-size: 100px;
                    z-index: 1000;
                    color: transparent;
                    -webkit-text-stroke: 2px #a3b8a7;
                    @include media($mobile) {
                        font-size: 60px;
                    }
                }

            }

            .left {
                margin: 80px 70px 0 0;

                .tabBtn{
                    .tab__btn {
                        margin-right: 10px;
                        font-size: 16px;
                        border-radius: 5px;
                        width: 80px;
                        height: 30px;
                        color:#444;
                        background-color: $yellow;
                       

                    }
                    .selected {
                        background-color: $green;
                        color: whitesmoke;

                    }
                   

                }

                .tabBox{
                    margin-top: 30px;
                    width: 300px;
                    height: 200px;
                    border-radius: 5px;
                    line-height: 1.4;
                    padding: 10px;
                    font-size: $font-sm;
                    position: relative;
                    background-color: palegoldenrod;

                    >div {
                        position: absolute;
                        display: none;
                    }
                    .projectText{
                        padding: 10px;
                        .title{
                            font-size: $font-lg;
                            font-weight: bolder;
                            margin-top: 5px;
                        }
                        .function{
                            display: flex;
                            flex-direction: column;
                            margin: 10px 0;
                            color: rgb(97, 96, 96);
                        }
                        .stack{
                            padding-top: 10px;
                            span{
                                margin-right: 10px;
                                i{
                                    font-size: $font-lg;
                                    color: rgb(60, 67, 90);
                                }
                            }
                        }

                        
                    }
                    
                    .visible{
                        display: block;
                    }
                }
                .viewSite{
                    margin-top: 20px;
                   

                    div{
                        width: 48%;
                        margin-bottom: 30px;
                        

                        a {
                            position: relative;
                             margin: auto;
                              padding: 19px 22px;
                               transition: all .2s ease;
                               &:before{
                                   content: "";
                                   position: absolute;
                                   top: 10px;
                                    left: 0;
                                    display: block;
                                    border-radius: 28px;
                                    background: $yellow;
                                    width: 32px; 
                                    height: 32px;
                                    transition: all .3s ease;

                               }

                               span {
                                   position: relative;
                                   font-size: $font-sm;
                                   line-height: 20px;
                                   font-weight: bold;
                                    // letter-spacing: .25em;
                                    text-transform: uppercase;
                                    vertical-align: middle;
                               }
                               svg{
                                   position: relative;
                                    top: 0;
                                     margin-left: 10px;
                                      fill: none;
                                       stroke-linecap: round;
                                        stroke-linejoin: round;
                                         stroke: $yellow;
                                        stroke-width: 2;
                                        transform: translateX(-5px);
                                        transition: all .3s ease;

                                        &:hover{
                                            transform: translateX(0);
                                        }
                                        &:active {
                                            transform: scale(.96);
                                        }
                               }

                               &:hover::before {
                                   width: 100%;
                                   background: rgba($green, 1);
                               }
                               

                               

                        }

                    }
                    
                    

                }


            }

        }



    }



}

/* about me */
#about {
    background-color: $green;
    height: 500px;
    padding: 100px 0;
    min-width: $pc-min;
    @include media($mobile) {
        min-width: 100%;
        height: 300px;
        padding: 50px 0;
    
    }
    
    
     .aboutme{
         display: flex;
         justify-content: space-between;
         padding-top: 50px 0;

        @include media($mobile) {
            padding-top: 0;
            width: 100%;
        }

          .aboutLeft {
             width: 50%;
              text-align: center;
              margin: 30px auto;
              @include media($mobile) {
                //   margin: 0 0 0 150px;
                  
              }
             
              p {
                  font-size: 50px;
                  font-family: $font1;
                  letter-spacing: 0.1em;
                  margin: 20px 0;
                  color: #615c5c;
                  color: transparent;
                  transition: 1s;
                  @include media($mobile) {
                      font-size: 30px;
                     
                  }
                  @include media($mobile640) {
                      font-size: 25px;
                      
                  }

                  .fill {
                      padding-top: 10px;
                  }
              }
             
          
          }
          .aboutRight{
              width: 50%;
              height: 450px;
              border: 1px solid white;
              @include media($mobile) {
                  height: 300px;
                  
              }
            
              .meimg{
                  margin: 20px auto;
                  width: 70%;
                  height: 80%;
                  background:{
                      image:url(../imgs/me2.png);
                      size: cover;
                      position: center center;
                  }

              }
              .insta{
                  text-align: right;
                  padding-right: 50px;
                  @include media($mobile) {
                      padding-right: 10px;
                  }
                  a{
                      color: white;
                      font-size: $font-md;
                      margin-right: 20px;
                      @include media($mobile) {
                          margin: 10px;
                      }
                  }
              }
          }
          



     }
    
   
}


#contact{
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: $yellow;
    position: relative;
    min-width: $pc-min;
    @include media($mobile) {
        min-width: 100%;
        height: 200px;
    }

    .contact__info {
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);
       @include media($mobile) {
            width: 100%;
        }
       

       .contact__title {
           font-size: 60px;
           color: #4d5f75;
       }

       .svgText{
           margin: 0 auto;
           svg {
               font-family: $font3;
            //    position: absolute;
               width: 100%;
               height: 100%;
           }

           svg text {
               text-transform: uppercase;
               font-size: 140px;
               animation: stroke 5s infinite alternate;
           }
           
       }
       .contact__email{
           margin-top: 10px;
           font-size: 20px;
           color: #4f6279;
       }
       .contact__links {
           margin-top: 20px;
           a{
               color: #4d5f75;
               font-size: 30px;
           }
       }
       .contact__right{
           padding-top: 50px;
       }

    }
}