//변수
$font-title: 32px;
$font-lg: 24px;
$font-md: 18px;
$font-sm: 14px;

$yellow: #fff4be;
$green : #a3b8a7;

//fontfamily
$font1 :'canela';
$font2 : 'canela-italic';
$font3 : 'founders';
$font4 : 'interal';

//keyframes


@keyframes move {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }

}

@keyframes move2 {
    0% {
        transform: rotate(360deg);

    }

    100% {
        transform: rotate(0deg);

    }

}

// scroll down keyframes


@keyframes arrow-down {
    0% {
        transform: rotate(0deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(0deg) translate(0, 20px);
        opacity: 0;
    }
}




body {
    background-color: $yellow;
}

.center {
    width: 1200px;
    margin: auto;

}



/* navbar */

#navbar {
    background: $yellow;
    height: 100px;
    z-index: 100;


    .center {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        .navbar__logo {
            position: relative;
            height: 200px;
            width: 160px;

            background: {
                // image: url(imgs/logo2.png);
                // size: 80px;
                // repeat: no-repeat;
                // position: 90% center;

            }

            h1 {
                a {
                    font-size: $font-md;
                    font-family: $font1;

                }

                p {
                    font-family: $font1;
                }
            }

            img {
                width: 70px;
                height: 70px;
                position: absolute;
                top: -18px;
                right: 0;
            }
        }

        .navbar__menu {

            ul {
                display: flex;
                justify-content: space-between;
                font-family: $font1;

                li {
                    font-size: $font-sm;
                    margin-left: 10px;
                }
            }

        }

    }

}

/* container */

/*  home */

#home {
    width: 100%;
    height: 100vh;
    position: relative;

    .home__top {
        height: 40%;
        background: $yellow;
       

    }

    .home__container {
        position: absolute;
        height: 500px;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
         
       

        .profile {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
            position: relative;
           

            background: {
                color: black;
                image: url(imgs/profile.jpeg);
                position: center center;
                size: cover;

            }
            >div{
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 border: 2px solid #e2f5e5;
                 border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
                  transition: 0.5s;

            }

            .c1 {
               
                animation: move 6s linear infinite;


            }

            .c2 {
               
                
                animation: move2 4s linear infinite;

            }

            .c3 {
               
                animation: move2 10s linear infinite;

            }

        }

        .home__title {
            margin-top: 50px;
            font-size: $font-title;
            font-family: $font2;
        }

        .home__description {
            margin-top: 10px;
            font-size: $font-md;
            font-weight: lighter;
            color: rgb(94, 93, 93);

        }

        .home__contact {

            a {
                transition: all 0.3s ease;
                position: relative;

                span {
                    font-family: $font3;
                    font-weight: 300;
                    color: #fff;
                    font-size: 36px;
                    text-transform: uppercase;
                    pointer-events: none;
                    transition: transform 0.1s linear;
                }

                &:hover~.cursor {
                    transform: translate(-50%, -50%) scale(8);
                }
            }

            .cursor {
                pointer-events: none;
                position: absolute;
                padding: 0.3rem;
                background-color: #fff;
                border-radius: 50%;
                mix-blend-mode: difference;
                transition: transfrom 0.3s ease;

            }

        }
    }

    .home__bottom {
        height: 60%;
        background: $green;
    }
}

/* skills */

#skill {
    text-align: center;
    background: $yellow;


    .skill__title {
        font-family: $font2;
        font-size: 40px;
        padding: 50px 0;
        color: #444;
        position: relative;


        &::after{
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: #444;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            

        }

    }

    .skillWrap {
        width: 100%;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 80px;


        li {
            width: 30%;
            margin: 1.5%;

            a {
                display: block;
                margin: auto;
                width: 100px;
                height: 100px;
                margin-bottom: 30px;
                border-radius: 50%;
                background: #a5c9c1;
                // /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#92fe9d+0,f1f2b5+100 */
                // background: #92fe9d;
                // /* Old browsers */
                // background: -moz-linear-gradient(-45deg, #92fe9d 0%, #f1f2b5 100%);
                // /* FF3.6-15 */
                // background: -webkit-linear-gradient(-45deg, #92fe9d 0%, #f1f2b5 100%);
                // /* Chrome10-25,Safari5.1-6 */
                // background: linear-gradient(135deg, #92fe9d 0%, #f1f2b5 100%);
                // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92fe9d', endColorstr='#f1f2b5', GradientType=1);
                // /* IE6-9 fallback on horizontal gradient */

                font-size: 40px;
                color: rgb(213, 255, 242);
                line-height: 100px;



            }

            h3 {
                font-size: $font-md;
                margin-bottom: 20px;
            }

            .graph {
                margin: 0 auto;
                width: 180px;
                height: 20px;
                border-radius: 30px;
                background-color: $green;
                position: relative;
                >div{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    background-color: #afecdf;
                }
                .html{
                    width: 90%;
                }
                .css{
                    width: 90%;
                }
                .js{
                    width: 70%;
                }
                .react{
                    width: 60%;
                }
                .vue{
                    width: 50%;
                }
                .etc{
                    width: 70%;
                }


            }

        }
    }



}

/* projects */
#projects {
    background: #fff4be;
    width: 100%;
    // display: none;


    .center {
        overflow-x: hidden;
        padding-top: 100px;

    }

    .projectWrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 500%;
        padding-top: 100px;
        background: rgb(163, 184, 167, 0.3);



        >div {
            width: 20%;
            height: 600px;
            position: relative;
            // padding-top: 100px;
            @extend %project;


        }

        .project1 {

            .scroll-down {
                padding-top: 30px;
                margin: 0 auto;
                width: 20px;
                height: 20px;
                text-align: center;
                animation: arrow-down 2s linear infinite;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

        }



    }

    %project {
        .project__img {
            width: 400px;
            height: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-5deg);


            img {
                display: block;
                width: 100%;
                height: 100%;
            }


        }

        .project__description {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .right {
                .order {
                    font-size: 110px;
                    color: $green;
                }

                .project__title {
                    font-family: $font4;
                    font-size: 100px;
                    z-index: 1000;
                    color: transparent;
                    -webkit-text-stroke: 2px #a3b8a7;
                }

            }

            .left {
                margin: 100px 70px 0 0;
               

                .tabBtn{
                    button {
                        margin-right: 10px;
                        font-size: $font-md;
                        border-radius: 5px;
                        width: 80px;
                        height: 30px;
                        color:#444;
                        background-color: $yellow;
                        

                    }
                    .selected {
                        background-color: $green;
                        color: whitesmoke;

                    }
                   

                }

                

                .tabBox{
                    margin-top: 30px;
                    width: 280px;
                    height: 200px;
                    border-radius: 5px;
                    line-height: 25px;
                    padding: 10px;
                    font-size: $font-md;
                    font-family: $font2;
                    word-break: keep-all;
                    position: relative;
                    background-color: palegoldenrod;

                    >div {
                        position: absolute;
                        display: none;
                    }
                    
                    .visible{
                        display: block;
                    }
                }

            }

        }



    }



}

/* about me */
#about {
    background-color: $green;
     padding: 100px 0;
    //  display: none;
    

     .aboutme{
        //  display: flex;
        //  justify-content: space-between;
        padding-top: 50px;
       

          .aboutLeft {
            width: 800px;
              text-align: center;
              margin: 0 auto;
             
            //   background-color: pink;
              
              p {
                  font-size: 47px;
                  font-family: $font2;
                  letter-spacing: 0.1em;
                  margin: 20px 0;
                  color: transparent;
                  -webkit-text-stroke: 2px #fff4be;

                  .fill {
                      transition: 1s;
                     
                      
                  }
                  
                
              }
              .text2 {
                  margin-bottom: -50px;
              }
              .text3 {
                  margin-top: -50px;
              }
              

              .me {
                  width: 300px;
                  height: 300px;
                  background-image: url(imgs/mebg4.jpg);
                  background-size: cover;
                  margin: 0 auto;
                  z-index: -10;
                //   position: relative;
                  
                  img {
                      display: block;
                      height: 200px;
                      width: 180px;
                      margin: auto;
                      padding-top: 50px;
                      
                    //   height: 250px;
                    //   position: absolute;
                    //   top: 50%;
                    //   left: 50%;
                    //   transform: translate(-50%,-50%);
                  }
              }

          }
          .aboutRight {
              width: 50%;
              position: relative;
              
              >div{
                  width: 350px;
                  height: 350px;
                  border: 1px dashed #d0fff5;
                  border-radius: 50%;
                  position: absolute;
                  top: 15%;
                  

              }
              .diagram1{
                  left: 20px;
                  transition: 1s;
                  animation: move 50s linear infinite;

                   
                  
                 
              }
              .diagram2{
                  right: 20px;
                  transition: 1s;
                 animation: move2 50s linear infinite;

                  
              }

          }



     }
    
   
}

#contact{
    text-align: center;
    height: 500px;
    background-color: $yellow;
    position: relative;

    .contact__info {
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);
       

       .contact__title {
           font-size: 60px;
           color: #4d5f75;
       }
       .contact__email{
           margin-top: 10px;
           font-size: 20px;
           color: #4f6279;
       }
       .contact__links {
           margin-top: 20px;
           a{
               color: #4d5f75;
               font-size: 30px;
           }
       }
       .contact__right{
           padding-top: 50px;
       }

    }
}